firmware/build/
build/
kernel/*.o
kernel/*.d
kernel/*.asm
kernel/*.sym
kernel/kernel
user/*.o
user/*.d
user/*.asm
user/*.sym
user/_*
user/initcode
user/initcode.out
user/usys.S
mkfs/mkfs
fs.img
tools/mkfs
